<h2>Villanos</h2>
<hr>

<div>
    <h4>{{villano01.name}}:</h4>
    <p>Alias: {{villano01.alias}} - Publicado por: {{villano01.publisher}}</p>
    <hr>
</div>
<div>
    <h4>{{villano02.name}}:</h4>
    <p>Alias: {{villano02.alias}} - Publicado por: {{villano02.publisher}}</p>
    <hr>
</div>

<br><br>


<a href="/">Home Page</a>